body{
    background: linear-gradient(35deg, #FDAFAA,#E3CDFA);
}


img.jeux{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.pegi{
    width: 90px;
    height: 90px;
    border-radius: 20px;
}

.presentation{
    margin-top: 130px;
    margin-left: 90px;
    font-size: 20px;
    line-height: 20px;
}

h1{
    font-size: 50px;
}

div img.logo{
    width: 30px;
    height: 30px;
}

.acheter{
    text-align: center;
    color: white;
    border-radius: 20px;
    line-height: 60px;
    font-size: 25px;
}
.warning{
    background-color: white;
    border-radius: 20px;
    margin-right: 20px;
}
   
.degrade_bleuC{
    background: rgba(67 ,101 ,255,1);
    background: -webkit-linear-gradient(to top, 0deg, rgba(68, 169 ,255,1) 0%, rgba(67 ,101 ,255,1) 100%);
    background: -moz-linear-gradient(to top,0deg, rgba(68, 169 ,255,1) 0%, rgba(67 ,101 ,255,1) 100%);
    background: linear-gradient(to top, 0deg, rgba(68, 169 ,255,1) 0%, rgba(67 ,101 ,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.degrade_bleuF{
    background:  rgba(73,76,255,1) 100%;
    background: -webkit-linear-gradient(to top, 180deg, rgba(68, 169 ,255,1) 0%, rgba(73,76,255,1) 100%);
    background: -moz-linear-gradient(to top, 180deg, rgba(68, 169 ,255,1) 0%, rgba(73,76,255,1) 100%);
    background: linear-gradient(to top, 180deg, rgba(68, 169 ,255,1) 0%, rgba(73,76,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.degrade_violetF{
    background: rgba(219,91,255,1) 100%;
    background: -webkit-linear-gradient(to top,180deg, rgba(164,84,255,1) 0%, rgba(219,91,255,1) 100%);
    background: -moz-linear-gradient(to top,180deg, rgba(164,84,255,1) 0%, rgba(219,91,255,1) 100%);
    background: linear-gradient(to top,180deg, rgba(164,84,255,1) 0%, rgba(219,91,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.degrade_violetC{
    background: #A00202;
    background: -webkit-linear-gradient(to top,180deg, rgba(219,91,255,1) 0%, rgba(164,84,255,1) 100%);
    background: -moz-linear-gradient(to top,180deg, rgba(219,91,255,1) 0%, rgba(164,84,255,1) 100%);
    background: linear-gradient(to top,180deg, rgba(219,91,255,1) 0%, rgba(164,84,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.degrade_rouge{
    background: rgba(181,0,0,1);
    background: -webkit-linear-gradient(180deg, rgba(255, 91 , 91,1) 0%, rgba(181,0,0,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(255, 91 , 91,1) 0%, rgba(181,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(255, 91 , 91,1) 0%, rgba(181,0,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bleuC{
    background: linear-gradient(0deg, rgba(68, 169 ,255,1) 0%, rgba(67 ,101 ,255,1) 100%);
}

.bleuF{
    background: linear-gradient(180deg, rgba(68, 169 ,255,1) 0%, rgba(73,76,255,1) 100%);
}

.violetF{
    background: linear-gradient(180deg, rgba(164,84,255,1) 0%, rgba(219,91,255,1) 100%);
}

.violetC{
    background: linear-gradient(180deg, rgba(219,91,255,1) 0%, rgba(164,84,255,1) 100%);
}

.rouge{
    background: linear-gradient(180deg, rgba(255, 91 , 91,1) 0%, rgba(181,0,0,1) 100%);
}
.avis-background{
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 60px;
    border-radius: 30px;
    margin-top: 80px;
}
.avis-text{
    background-color: white;
    text-align: center;
    font-size: 20px;
    color:black;
    border-radius: 30px;
    margin-bottom: 60px;
}

.ext{
    font-size: 50px;
    margin-bottom: 30px;
}
.pseudo{
    font-size: 30px;
    color:black;
}

.bouton{
    background-color:red;
    border-radius: 30px;
    font-size: 20px;
}