body{
    background: linear-gradient(35deg, #FDAFAA,#E3CDFA);
}

.reverse{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.reverse2{
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

div div ul.dropdown-content.select-dropdown.multiple-select-dropdown{
  background-color: #ffddf9;

}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
